'scopeName': 'source.pgn'
'name': 'Portable Game Notation'
'fileTypes': [
  'pgn'
]
'foldingStartMarker': '^\\s*$'
'foldingStopMarker': '^\\s*$'
'patterns': [
  {
    'match': '\\b(Event||Site||Date||Round||White|Black|Result)\\b'
    'name': 'keyword.control.pgn'
  }
]
